.left-panel {
    width: 50vw;
    height: 92vh;
    background-color: whitesmoke;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60%;
    height: 60%;
}

#title {
    font-size: 1.2rem;
    margin-bottom: 0;
}

#link-back {
    font-size: .9rem;
    margin-bottom: 0;
}

.text-box {
    width: 55%;
    margin-top: 10px;
}

.submit-btn {
    margin-top: 10px;
    width: 57%;
    height: 8%;
    background-color: goldenrod;
}

.right-panel {
    width: 50vw;
    height: 92vh;
    background-color: whitesmoke;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#not-matching {
    color: red;
}

.right-panel img {
    width: 50%;
    object-fit: contain;
}