.login-panel {
    width: 50vw;
    height: 92vh;
    background-color: whitesmoke;
    float: left;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    width: 60%;
    height: 60%;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    width: 100%;
    height: 100%;
    text-align: center;
}

#title {
    font-size: 1.2rem;
    margin-bottom: 0;
}

#create-account-link {
    font-size: .9rem;
}

.text-box {
    width: 60%;
    height: 5%;
    margin-bottom: 10px;
}

.login-btn {
    width: 62%;
    height: 8%;
    margin-top: 10px;
    background-color: goldenrod;
}



.img-panel {
    width: 50vw;
    height: 92vh;
    background-color: aquamarine;
    margin: 0;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    object-fit: contain;
}